/* @font-face { */
/* font-family: "DungGeunMo"; */
/* font-weight: 400; */
/* src: url("/fonts/DungGeunMo.woff"); */
/* } */

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;600&display=swap");

.font-dosis {
  font-family: "Dosis", sans-serif;
}
.nav-icon-invert {
  filter: "brightness(0) invert(1)";
}
.nav-link {
  font-size: 16px !important;
  letter-spacing: 1px;
  opacity: 1;
}
.nav-active {
  border-bottom: 2px solid #000;
}
